<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="cat" class="spring_introduction.Cat"></bean>
    <bean id="dog" class="spring_introduction.Dog"></bean>
    <bean id="person" class="spring_introduction.Person"><property name="pet" ref="dog"/><property name="surname" value="Smirnova"/><property name="age" value="23"/></bean>



</beans>